The essentials of Data Science

In the next Jupyter Notebook will see tools and ecosystem of Data Science

The most common program languages for Data Science are:
1. Python
2. R
3. SQL

The most common libraries for Data Science are:
1. Pandas
2. Numpy
3. Mathplotlib

| Data Science Tools |
|--------------------|
| Jupyter Notebook  |
| RStudio           |
| Apache Zeppelin   |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [17]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [21]:
print("200 minutes are", 200/60, "hours")
#This will convert 200 minutes to hours by diving by 60

200 minutes are 3.3333333333333335 hours

**Objectives:**
- List popular languages for Data Science  
- Identify open-source tools used in Data Science  
- Demonstrate how to evaluate arithmetic expressions in Python  
- Understand the basics of Jupyter Notebook Markdown formatting

## Author  
Anibal Mu√±oz